.message-input {
    display: flex;
    justify-content: center;
    margin: 15px 30px 10px 30px;
}

.message-input .message-input-text{
    padding: 5px;
    margin-right: 5px;
    min-width: 500px;
}

.message-input .message-input-button{
    font-weight: bold;
    padding: 0 10px;
    border: 1px solid gray;
    border-radius: 2px;
}

@media screen and (max-width: 695px) {
    .message-input .message-input-text {
        min-width: 250px;
    }
}