.message-list{
    border: 1px solid gray;
    margin: 20px 70px;
    max-height: 650px;
    overflow: auto;
}

@media screen and (max-height: 870px) {
    .message-list {
        max-height: 550px;
    }
}

@media screen and (max-height: 775px) {
    .message-list {
        max-height: 450px;
    }
}

@media screen and (max-height: 670px) {
    .message-list {
        max-height: 350px;
    }
}
@media screen and (max-height: 575px) {
    .message-list {
        max-height: 250px;
    }
}