.own-message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid dimgray;
    background-color: rgb(183, 210, 236);
    margin: 25px 0;
    margin-left: 40%;
    width: 60%;
    padding: 10px;
}

.own-message .message-text{
    font-size: medium;
    float: left;
}

.own-message .right-block{
    display: table;
}

.own-message button{
    padding: 5px;
    border: 1px solid dimgray;
}

.own-message .message-edit{
    color: forestgreen;
}
.own-message .message-delete{
    color: orangered;
}

